PORT=8000
NODE_ENV=development
LOCAL_DEMO_MODE=false

MONGO_URI="mongodb://127.0.0.1:27017/teamsync_db"

SESSION_SECRET="session_secret_key"
SESSION_EXPIRES_IN="1d"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:8000/api/auth/google/callback

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:8000/api/auth/github/callback

FRONTEND_ORIGIN=http://localhost:3000
FRONTEND_GOOGLE_CALLBACK_URL=http://localhost:3000/google/oauth/callback
